PORT=4000
NODE_ENV=development
DATABASE_URL="postgresql://postgres:postgres2026@localhost:5432/buxgalteriya_db?schema=public"
JWT_SECRET="buxgalteriya_secret_key_2026_super_secure"
JWT_REFRESH_SECRET="buxgalteriya_refresh_super_secret_2026"
REDIS_URL="redis://localhost:6379"
DIDOX_API_URL="https://api.didox.uz/v2"
SOLIQ_API_URL="https://my3.soliq.uz/api"
